/.spyder-py3
/113213504 林千榆.docx
/113213504 林千榆_hw2.pdf
/113213504_林千榆_利用基因演算發優化工作流程.pdf
/gpt_ver.py
/~$3213504 林千榆.docx
/~$基因演算發優化多線程工作流程_.docx
/利用基因演算發優化多線程工作流程 113213504_林千榆.pdf
/利用基因演算發優化多線程工作流程_.docx